body {
  --black: #000000;
  --inactive-button-text: #001aff;
  --dark-mode-toggle: #032900;
  --grey: #202020;
  --header-background: #bbbbbb;
  --footer-background: #bbbbbb;
  --wrapper-color: #f2f2f2;
  --wrapper-text-color: #000;
  --red:#FF4545
  --active-button:#EB00FF
}

.dark-mode {
  --inactive-button-text: #00C2FF;
  --dark-mode-toggle:#10CB00;
  --wrapper-color: #3f3f3f;
  --wrapper-text-color: #fff;
  --header-background: #4f5565;
  --footer-background: #4f6361;
  background:#8e8e8e
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
}

header {
  background-color: var(--header-background);
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header,
title {
  color: var(--wrapper-text-color);
}



#about-us-text {
  color: var(--inactive-button-text);
}

#about-us-box {
  display: none;
  background-color: var(--wrapper-color);
  border: 1px solid #333;
  border-color: #333;
  padding: 10px;
}

#about-us-btn {
  color: var(--inactive-button-text);
}

#about-us-btn.active {
  color: var(--active-button, #eb00ff);
}

img.food {
  object-fit: contain;
  height: 200px;
  width: 100%;
}

img.icon {
  width: 30px;
  height: 30px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

nav li {
  margin: 0 10px;
}

nav a {
  
  text-decoration: none;
  font-size: 18px;
}

main {
  padding: 20px;
}

.product-list {
  margin-top: 20px;
}

.product-list ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.product-wrapper {
  background-color: var(--wrapper-color);
  color: var(--wrapper-text-color);
  border: 1px solid #333;
  padding: 10px;
  margin: 10px;
  flex: calc(33% - 42px);
}

.product-wrapper.dark-mode {
  background-color: #202020;
}

.product-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer {
  background-color: var(--footer-background);
  padding: 20px;
  justify-content: space-between;
  align-items: row;
  display: flex;
}

#contact-info-box {
  background-color:  var(--wrapper-color);
  padding: 10px;
  align-items: "center";
  justify-content: "space-between";
  width: 100%;
}

#contact-info-btn {
  color: var(--inactive-button-text);
  background: none;
  border: none;
}

#contact-info-btn.active {
  color: var(--active-button);
}

#contact-info-box img {
  max-width: 100%;
  align-self: center;
}

#contact-info-box p {
  flex-basis: 100%;
  align-self: center;
}

#greeting {
  border: 1px solid #333;
  border-color: #333;
}

#location-box {
  background-color: var(--wrapper-color);
  border: 1px solid #333;
  border-color: #333;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
}

#location-btn {
  background: none;
  border: none;
  color: var(--inactive-button-text);
}

#location-btn.active {
  color: var(--active-button);
}

img.mapIcon {
  width: 600px;
  height: 300px;
}

.locationText {
  align-self: flex-end;
}

#name-form {
  background-color: var(--wrapper-color);
  color: var(--wrapper-text-color);
  border: 1px solid #333;
  border-color: #333;
  padding: 10px;
}

#dark-mode-toggle {
  color: var(--dark-mode-toggle);
}
